div.Mainframe
	{
		background-color: black;
		width: 100%;
		height:100%;
	}
	div.FirstDiv
	{
		overflow: hidden;
		width:627px;
		height:325px;
		float:left;
		display:inline;
	}
	div.SecondDiv
	{
		overflow: hidden;
		float:left;
		position: absolute;
		width:720px;
		height:325px;
		display: inline;
	}
	image.PicFlip
	{
		display: block;
	}
	image.PicOverlay
	{
		overflow: hidden;
		display: block;
		transition: all 0.8s;
	}
	div.PicOverlayContainer
	{
		overflow: hidden;
		position: absolute;
		overflow: hidden;
		width:627px;
		height: 325px;
		transition: all 0.8s;
	}
	p.OverlayText
	{
		position: absolute;
		top:50%;
		left:50%;
		font-size: 12px;
		font-family: 'Arial black';
		transform: translate(-50%, -50%);
  		-ms-transform: translate(-50%, -50%);
		text-align: center;
		color:white;
		line-height: 15px;
	}
	p.FlipText
	{
		position: absolute;
		top: 50%;
		left:50%;
		font-size: 12px;
		font-family: 'Arial black';
		text-align: center;
		color:black;
		transform: translate(-50%, -50%);
  		-ms-transform: translate(-50%, -50%);
		line-height: 15px;
	}
	div.PicOverlayContainer:hover 
	{
		-ms-transform: scale(1.1); /* IE 9 */
    	-webkit-transform: scale(1.1); /* Safari */
  		transform: scale(1.1);
	}
	div.PicOverlayContainer:hover div.Overlay 
	{
  		opacity: 0.6;
	}
	div.Overlay
	{
		top:50%;
		left:50%;
		color:white;
		opacity: 0;
		position: absolute;
		top:0;
		bottom: 0;
		right:0;
		left:0;
		background-color: black;
		height: 100%;
  		width: 100%;
  		transition: .5s ease;
	}

	div.PicFlipContainer1
	{
		transform-style: preserve-3d;
		transition: all 0.7s ease;
		float:left;
		width:210px;
		height:162.5px;
		background-color: blue;
	}
	div.PicFlipContainer1:hover
	{
		transform:rotateX(180deg);
	}
	div.FlipFront
	{
		position: absolute;
		width:210px;
		height:162.5px;
		backface-visibility: hidden;
		background-color:white;
	}
	div.FlipBack
	{
		position: absolute;
		width:210px;
		height: 162.5px;
		backface-visibility: hidden;
		transform: rotateX(180deg);
		background-color: #a6ffff;
		color:black;
		text-align: center;
	}